<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Store</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<script type="text/javascript" src="{{ url_for('static', filename='owner.js') }}"></script>




 </head>





<body style="background-color: blue"> 
  <html>
  
    <div class="container" style="font-size: 15px">
      
    <div class=""> 
    <div class="header clearfix white-text">
      <nav class="jumbotron bg-dark mt-5" >
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Is the driver the owner of the vehicle? <br>
            <span class="form-control"><input type="radio" onclick="javascript:yesnoCheck();" required name="yesno"  id="yesCheck"  value="yesCheck"/> Yes</span>
             <span class="form-control"><input type="radio" onclick="javascript:yesnoCheck();" required name="yesno" id="noCheck"/ value="noCheck">  No</span> 
            </a>  
          </li>
          </ul>
        </nav>


      
      </div>
    </div>

     <div style="box-shadow: 2px 15px 10px black; " class="Element">
     <form action="/post_field" method="POST" >
          
          <input type="text" class="form-control"  name="driverName" required id="driverName" placeholder=" Name of the driver (Full names)"/><hr>
          
          <input type="number" class="form-control" placeholder=" Enter driver's phone no:"  name="driverNo" required id="driverNo"/><br>

          <input type="email" class="form-control" placeholder="Billing Address or Owner Email:" required name="email" id="email"/> <br>

          <input type="text" class="form-control" placeholder="Model of the vehicle" required name="model" id="model"> <br>
          
          <input type="text" class="form-control" placeholder="Company name" required name="company" id="company"/> <br>
          
          <div id="ifYes" style="display:none">
          <input type="text" placeholder="Owner of the vehicle (Full names)" class="form-control" name="owner" id="owner"/> <br>
          </div>
          

          <input type="text" class="form-control" placeholder="Engine Number" required name="engNo" id="engNo"/> <br>

          <input type="text" class="form-control" placeholder="Enter vehicle regestration number" required name="regNo" id="regNo"/> <br>
  
          
          <input type="text" class="form-control" placeholder="What is the vehicle's Mileage" required name="mileage" id="mileage"/> <br>
          
         
          <input type="submit" class="form-control btn btn-dark col-md-4" id="submit" value="Press Me!"/>
          <div id="ifNo" style="display:none">

          </div>
          </form> <hr> <hr>
          <footer class="footer">
        <p style="color: #fa755a">&copy; Calltronix 2020</p>
      </footer>
     </div>
    
      
    </div>
    
 
    
   

</body>

</html>