<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Store</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
  <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> -->
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css.map') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/now-ui-dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/now-ui-dashboard.min') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='demo/demo.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<script type="text/javascript" src="{{ url_for('static', filename='owner.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>



 </head>




<body style="background-color: rgb(6, 6, 44); " > 
  <html >
    <!-- <section class="dark">
      
    </section> -->
  
    <div class="container mt-5 dark"  style="font-size: 15px">
      
      <div class="card-rows"  >
          <div class="card" style="background-color: rgb(6, 6, 44); position: relative;"  > 
            <div class="card-header mt-5" style="margin-top: 10%;" > 
              <div class="header clearfix white-text mt-5">
                <a class="nav-link active"" href="#">Is the driver the owner of the vehicle? <br>
                      
                  <label>
                    <input type="radio" style="position: absolute;left: 50%;top: 50%;opacity: 0;transform: translate(-50%,-50%);z-index: -1;" onclick="javascript:yesnoCheck();" required name="yesno"  id="yesCheck"  value="yesCheck">
                    <span class="design"></span>
                    <span class="text">Yes</span>
                  </label>
                 
                  <label>
                    <input type="radio" style="position: absolute;left: 50%;top: 50%;opacity: 0;transform: translate(-50%,-50%);z-index: -1;" onclick="javascript:yesnoCheck();" required name="yesno" id="noCheck"/ value="noCheck">
                    <span class="design"></span>
                    <span class="text">No</span>
                  </label>
                 
                  
          
          
                
                </div>
              </div>
            
          
               <div  class="card-body">
               <form action="/post_field" method="POST" >
                    
                    <input type="text" class="form-control"   name="driverName" required id="driverName" placeholder=" Name of the driver (Full names)"/><hr>
                    
                    <input type="number" class="form-control" placeholder=" Enter driver's phone no:"  name="driverNo" required id="driverNo"/><br>
          
                    <input type="email" class="form-control" placeholder="Billing Address or Owner Email:" required name="email" id="email"/> <br>
          
                    <input type="text" class="form-control" placeholder="Model of the vehicle" required name="model" id="model"> <br>
                    
                    <input type="text" class="form-control" placeholder="Company name" required name="company" id="company"/> <br>
                    
                    <div id="ifYes" style="display:none">
                    <input type="text" placeholder="Owner of the vehicle (Full names)" class="form-control" name="owner" id="owner"/> <br>
                    </div>
                    
          
                    <input type="text" class="form-control" placeholder="Engine Number" required name="engNo" id="engNo"/> <br>
          
                    <input type="text" class="form-control" placeholder="Enter vehicle regestration number" required name="regNo" id="regNo"/> <br>
            
                    
                    <input type="text" class="form-control" placeholder="What is the vehicle's Mileage" required name="mileage" id="mileage"/> <br>
                    
                   
                    <input type="submit" class="form-control btn btn-dark col-md-4 light" id="submit" value="Press Me!"/> 
                    
                    </form> 
                    <footer class="footer">
                  <p style="color: #fa755a">&copy; Calltronix 2020</p>
                </footer>
               </div>
              
          </div>
      </div>
      
    </div>
    
 <div id="ifNo" style="display:none">
                 
                  </div>
    
   


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/scripts.js"></script>

</body>

</html>