<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

 <script>

// var myHeaders = new Headers();
// myHeaders.append("Content-Type", "application/json");

// var raw = JSON.stringify({"email":"alexmwaura2015@gmail.com","password":"Alextest"});

// var requestOptions = {
//   method: 'POST',
//   headers: myHeaders,
//   body: raw,
//   redirect: 'follow'
// };

// fetch("http://127.0.0.1:5000/login", requestOptions)
//   .then(response => response.text())
//   .then(result => console.log(result))
//   .catch(error => console.log('error', error));

 </script>


</head>
<body style="background-color: rgb(6, 6, 44);">

    
    
<script src="{{ url_for('static', filename='roles.js') }}"> 
</script>>

<section class="dark">

  
        
    <div class="card" style="background-color: rgb(6, 6, 44); box-shadow: 2px 2px 20px  rgb(6, 6, 44);">
        

      <div class="card-body">
        <form action="/get_user" method="POST">
          <h1 style="color: aliceblue;">Login</h1><br/>
          {% if message %}
          <label for="">
              <span class="text" style="color: goldenrod;">{{message}}</span>
              <span>
                  <hr><hr>     
              </span>
          </label>
          {% endif %}
          
  
     <!-- <input type="text" placeholder="username" name="username" style="color: aliceblue;" id="username" title="Format: Xx[space]Xx (e.g. Alex Cican)" autofocus autocomplete="off" required pattern="^\w+\s\w+$">  -->
        <label for="email">
          <div class="container">
          <span class="text">Email</span>
          <span class="" style="background-color: rgb(6, 6, 44);"><input type="email" class="form-control" required name="email" id="email"></span>
          </div>
       </label>   
      
         
       <label for="password">
  
          <span class="text" >Password</span>
          <div class="container">
          <span class="" style="background-color: rgb(6, 6, 44);" > <input  type="password"  class="form-control " name="password"  id="password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"></span>
        </div>
       
        </label> 
     
  
      <!-- add logic later -->
      
       <a href="{{ url_for('main.login_user')}}" class="">
          
          <input  type="submit" class="form-control btn btn-primary" id="submit" value="Login">Login<hr>
      
      
      </a>
      <a href="/register">Need an account ?</a> 
      </form>
      </div>

    </div>
</section> 













<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->        <!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    
  



</body>
</html> 



