<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
  <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> -->
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css.map') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/now-ui-dashboard.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/now-ui-dashboard.min') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='demo/demo.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script><script type="text/javascript" src="{{ url_for('static', filename='owner.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>



</head>
<body style="background-color: rgb(6, 6, 44);">

    
    
<script src="{{ url_for('static', filename='roles.js') }}"> 
</script>

<section class="dark">

  
        
    <div class="card" style="background-color: rgb(6, 6, 44); box-shadow: 2px 2px 20px  rgb(6, 6, 44);">
        

      <div class="card-body">
        <form action="/get_user" method="POST">
          <h1 style="color: aliceblue;">Login</h1><br/>
          {% if message %}
          <label for="password">
              <span class="text" style="color: goldenrod;">{{message}}</span>
              <span>
                  <hr><hr>     
              </span>
          </label>
          {% endif %}
          
  
        <label for="email">
          <div class="container">
          <span class="text">Email</span>
          <span class="" style="background-color: rgb(6, 6, 44);"><input type="email" class="form-control" required name="email" id="email"></span>
          </div>
       </label>   
      
         
       <label for="password">
  
          <span class="text" >Password</span>
          <div class="container">
          <span class="" style="background-color: rgb(6, 6, 44);" > <input  type="password"  class="form-control " name="password"  id="password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"></span>
        </div>
       
        </label> 
     
  
      
       <a href="{{ url_for('main.login_user')}}" class="">
          
          <input  type="submit" class="form-control btn btn-success" id="submit" value="Login"><hr>
      
      
      </a>
      <a href="/register">Need an account ?</a> 
      </form>
      </div>

    </div>
</section> 













<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    
  



</body>
</html> 



