<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <style>

     </style>

</head>
<body style="background-color: rgb(6, 6, 44);">

    
    
<script src="{{ url_for('static', filename='roles.js') }}"> 
</script>
    



   

 
<section class="dark">
    <form action="/register" method="POST">
        <h1 style="color: aliceblue;">Sign up</h1><br/>
        {% if message %}
        <h2 style="color: yellow;">{{message}}</h2>
        {% endif %}
        <select name="" onchange="myFunction(event)">
            <option disabled selected>Choose Type of Account</option>
            <option value="attendant">attendant</option>
            <option value="mechanic">mechanic</option>
           
        </select>
  <label for="">
    
    <span class="text">Username</span>
    <span class="badge">
        <input type="text" class="form-control"  name="username" style="color: aliceblue;" id="username" title="Format: Xx[space]Xx (e.g. Alex Cican)" autofocus autocomplete="off" required pattern="^\w+\s\w+$">
    </span>
  </label>
<label for="">

    <span class="text"> Email</span>
    <span class="badge">
        <input type="email"     class="form-control"  style="color: aliceblue;" name="email" id="email">

    </span>
</label>
<label for="">

    <span class="text">Password</span>
    <span class="badge">
        <input type="password" class="form-control"  name="password" id="password" style="color: aliceblue;" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">

    </span>
</label>        

<label for="">
    <span class="text">Confirm Password</span>
    <span class="badge">
        <input type="password" class="form-control" name="confirmPassword" style="color: aliceblue;" id="confirmPassword">

    </span>
</label>   

<!-- add logic later -->
    

    <input type="hidden" class="form-control"  placeholder="roles" name="roles" id="roles">


    <button type="submit" class="form-control btn btn-danger col-md-4" id="submit" class="icon-arrow-right" value="Register">Register</button>
    <hr>
    <a href="/login">Already have an account</a>
    </form>
</section>
 




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->        <!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    



</body>
</html>