<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <style>

     </style>


</head>
<body style="background-color: rgb(6, 6, 44);">

    
    
<script src="{{ url_for('static', filename='roles.js') }}"> 
</script>
    


   

 
<section class="dark">
  
  <div class="card" style="background-color: rgb(6, 6, 44); box-shadow: 2px 2px 20px  rgb(6, 6, 44);">
      <div class="card-body">
        <form action="/register" method="POST">
            <h1 style="color: aliceblue;">Sign up</h1><br/>
            {% if message %}
            <label for="">
                <span class="text" style="color: goldenrod;">{{message}}</span>
                <span>
                    <hr><hr>     
                </span>
            </label>
            {% endif %}
          <label for="">
              <span class="text"> Choose Account Type</span>
            <span>
                <select name="" onchange="myFunction(event)" style="color: aliceblue;" required>
                    <option value=""></option>
                    <option value="attendant">attendant</option>
                    <option value="mechanic">mechanic</option>
                   
                </select>
            </span>

        </label>
      <label for="">
        
        <span class="text">Username</span>
        <span class="">
            <input type="text" class="form-control"  name="username" id="username" title="(e.g. Alex Mwaura)" autofocus autocomplete="off" required pattern="^\w+\s\w+$">
        </span>
      </label>
    
      <label for="email">
        <div class="container">
        <span class="text">Email</span>
        <span class="" style="background-color: rgb(6, 6, 44);"><input type="email" class="form-control" required name="email" id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" title="(e.g alexmwaura@gmail.com)"></span>
        </div>
     </label>   
    
       
     <label for="password">
    
        <span class="text" >Password</span>
        <div class="container">
        <span class="" style="background-color: rgb(6, 6, 44);" > <input  type="password"  class="form-control " name="password"  id="password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"></span>
      </div>
     
      </label>        
    
    
      <label for="password">
    
        <span class="text" >Confirm Password</span>
        <div class="container">
        <span class=""> <input  type="password"  class="form-control " name="password2"  id="password2" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" onkeyup='check();' ></span>
        <span id='message'></span>
    </div>
     
      </label> 
    
    
     
    
    
    
    
    <!-- add logic later -->
        
    
        <input type="hidden" class="form-control"  placeholder="roles" name="roles" id="roles">
    
    
        <input type="submit" class="form-control btn btn-danger" id="submit" class="icon-arrow-right" value="Register">
        <hr>
        <a href="/">Already have an account</a>
        </form>
      </div>

  </div>
</section>
 




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->        <!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    

<script>


        
    
    var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('password2').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}


         </script>


</body>
</html>